body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
/*--Header---*/
#header
{
height:100vh;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bkg.gif);
background-position:center;
background-size: cover;
background-attachment: fixed;
}
html {
    scroll-behavior: smooth;
  }
.user-box
{
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}
.user-box img
{
    border-radius: 80%;
    width: 250px;
    border:5px solid rgb(37, 224, 215);
    position: relative;

}
.social-icons img
{
    border-radius: 80%;
    width: 50px;
    size: 15px;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
    background-position:center;
    position: absolute;
}
.user-box h1
{
    color:#ecf2f5;
    font-weight: bold;
    margin:10px;
    background-position: center;
}
.user-box h5
{
    color:#ecf2f5;
    margin:10px;
    background-position: center;
}

.counter p
{
    top:80%;
    left:80%;
    transform: translate(-50%,-50%);
    position: absolute;
    color:#ebe1e1;
    margin:10px;
    
}


/* About me */
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
}
.profile-img
{
    height:200px;
}
.scroll-btn
      {
          bottom:10px;
          position: absolute;
          left:50%;
          transform:translateX(-50%);
          border:2px solid #ecf2f5;
          padding: 10px 10px 20px;
          border-radius: 30px;
      }
      .scroll-bar span
      {
          border: 2px solid #ecf2f5;
          font-size:10px;
          border-radius: 10px;
      }
      .scroll-bar
      {
          animation: mover is infinite alternate;
      
      }
      @keyframes mover
      {
          0%{transform: translateY(0);}
          100%{transform: translateY(10);}}
.nav-bar
{
    top:0;
    position:sticky;
    z-index: 2;
}
.navbar
{
    background-color: black;
}
.navbar-brand img
{
    height:40px;
}
.nav-bar .fa-bars
{
    font-size:35px;
    color: white;
}
.navbar-toggler
{
    outline:none !important;
}
.navbar-nav
{
    float: center;
    text-align: center;
}
.nav-link
{
    color: white !important;
}

/*------Resume---*/
.resume
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(243, 242, 238);
}
.resume h3
{
    margin-bottom: 50px;
}
.timeline
{
    list-style-type: none;
    position: relative;
}
.timeline:before
{
    content: '';
    background: #0c0c0c;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;

}
.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #f5f5f5;
}
.timeline li h4 
{
    background-color: rgb(10, 10, 10);
    padding: 5px 0 5px 20px;
    color: azure;
    font-size: 15px;
}
.timeline li h5 
{
    background-color: rgb(37, 224, 215);
    padding: 5px 0 5px 20px;
    color: rgb(12, 12, 12);
    font-size: 15px;
}
.timeline li:before
{
    content: '';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border:3px solid #0d0d0e;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.int-img
{
    height:150px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}